%h1 CHALLENGES
%br

FILTERS
= sort_link @search, :start_date, "START DATE"
= sort_link @search, :end_date, "END DATE"
= sort_link @search, :updated_at, "RECENTLY UPDATED"

.row
	.challenge
		- @challenges.each do |c|
			= link_to image_tag(c.challenge_image.url, style: "width: 33%"), c