// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.h3.filter {
	margin-left: 0;
	color: #11E100;
	font-family: 'bebasregular';
}

li.filter {
	margin-top: 0;
}

.row.chal {
	background: #FAF2FA;
	padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 10px
}

h1.challenge_profile {
	margin-top: 1.5em;
	margin-left: .5em;
	color: black;
	font-family: 'bebasregular';
	word-spacing: .2em;
	float: left;
}

li.project-thumbnail {
	margin: 0px;
	float: right;
}

li.project-description {
	margin: 0px;
}

h2.chal {
	color: black;
	font-family: 'bebasregular';
	word-spacing: .2em;
}

h3.challenge_description {
	margin-top: 0;
	margin-left: 0;
}

h3.submission_title {
	text-align: center;
	font-size: 2em;
	margin-left: 0em;
}

p.description {
	margin: 0px;
}

.large-12.columns {
	padding-left: 0px;
}

a.button {
	margin-left: 40%;
	position: absolute;
}

ul.small-block-grid-3.small-centered {
	padding: 10px;
	margin-bottom: 0;
}

.submissions {
	background: #FAF2FA;
}